@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-top: 80px;
}

.container {
  background-color: white;
}

/* Medio Heading */
.medicosales {
  text-align: center;
  margin: 30px 0px;
  color: blue;
  font-weight: bolder
}

/* Side bar */
ul li {
  margin-top: 30px;
}

.navigation-item i,
.bx-help-circle {
  margin-right: 15px;
}

ul {
  margin-top: 50px;
}

.navigation-item {
  position: relative;
}

.help {
  position: absolute;
  margin-top: 390px;
}

/* col-10 --- search bar and bell icon */

.col-10 {
  background-color: #eeeeee;
}


.box {
  margin: 0 10px;
}


.searchbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.input-container input {
  width: 400px;
  height: 45px;
  border: 1px solid #dcd9d9;
  border-radius: 3px;
}

.input-container {
  position: relative;
}

.bx-search {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 22px;
  color: rgb(175, 172, 172);
}

.input-container input::placeholder {
  padding-left: 50px;
}

.bx-bell {
  background-color: white;
  font-size: 25px;
  padding: 10px;
  color: grey;
  border: 1px solid white;
  border-radius: 3px;
}

/* Sales information heading */
.sales {
  margin: 30px 30px 0px 0;
  color: black;
}

/* 4 filter boxes */

.filterbox {
  display: inline-block;
  margin: 20px 20px 20px 0;
}

.filterbox label {
  padding: 10px 10px 10px 0;
  font-weight: bold;
}

.filterbox input {
  height: 49px;
  width: 243px;
  color: grey;
  border: 1px solid rgb(175, 172, 172);
  border-radius: 3px;
}

.filterbox input::placeholder {
  padding-left: 20px;
}

/* table */
.table {
  background-color: white;
}


.table td {
  padding: 20px;
  font-weight: bold;
  opacity: 0.7;
  font-size: 15px;
}

.table th {
  padding: 20px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 10px
}